#title
{
background-color:#ff4c68;
}
h1
{
  font-size:50px;
  font-family: cursive;
  font-style:italic;
  color:white;
}
.navbar-brand
{
  font-size:50px;
  font-family:cursive;
  font-weight:bold;
}
.navbar{
  padding:10px 50px;
}
.nav-item
{
  padding-right:50px;
}
